body{
    background-color: #1B1A1D;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-areas: "aside main section";
    margin: 0;
}

p{
    margin: 0;
}


.ml42{
    margin-left: 42px;
}

.mb45{
    margin-bottom: 45px;
}

.ml25{
    margin-left: 25px;
}



.mtext{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: white;
}

aside{
    width: 300px;
    height: 1121px;
    background-color: #28272B;
    grid-area: aside;
    box-sizing: border-box;
}

main{
    grid-area: main;
    box-sizing: border-box;
    padding-left: 21px;
}

section{
    grid-area: section;
    box-sizing: border-box;
    padding-top: 37px;
}

.full_card{
    width: 548px;
    height: 1011px;
    background: #28272B;
    border-radius: 15px;
    margin-top: 12px;
}

.profile_icon{
    margin: 0 auto;
}

.search{
    width: 370px;
    height: 60px;
    border: 2px solid #323036;
    border-radius: 50px;
    background-color: #1B1A1D;
    margin-top: 25px;
    padding-left: 75px;
    box-sizing: border-box;
    margin-bottom: 68px;
}

.search::placeholder{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}

.profile{
    width: 215px;
    height: 157px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.filter_block{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-right: 45px;
}

.filter{
    display: flex;
    margin-top: 30px;
}

.text_filter{
    width: 187px;
    height: 44px;
    border: 1px solid #46444B;
    border-radius: 50px;
    background-color: #1B1A1D;
    color: #46444B;
}

.menu{
    width: 165px;
}

.menu_name{
    color: #FFA049;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.15em;
    margin-bottom: 15px;
}

.menu_grid{
    width: 165px;
    display: grid;
    grid-auto-rows: 70px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row_name{
    width: 100px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    font-family: 'Poppins', sans-serif;
}

.active{
    color: white;
}

.banner{
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
    width: 216px;
    height: 327px;
    background: #533A79;
    border-radius: 15px;
    align-items: center;
}

.offer{
    width: 172px;
    height: 47px;
    background: #FFA049;
    border-radius: 25px;
    border: none;
}

.small{
    font-size: 16px;
    width: 180px;
    text-align: center;
    font-weight: 400;
}

.large{
    width: 180px;
    text-align: center;
    font-weight: 400;
}

.other{
    width: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.underline{
    text-decoration: underline;
}

.main_grid{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 420px 420px;
    grid-auto-rows: 441px;
    gap: 40px;
    margin-top: 40px;
}

.card{
    width: 420px;
    height: 441px;
    background: #28272B;
    border: 2px solid #5DBF79;
    border-radius: 15px;
}

.card_image{
    height: 200px;
    margin-bottom: 25px;
}

.rate{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.price_button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 27px;
}

.bigger{
    font-size: 46px;
}

.card_button{
    width: 226px;
    height: 50px;
    padding-left: 30px;
}

.amount{
    width: 20px;
}

.card_name{
    margin-bottom: 12px;
}

.plus{
    position: absolute;
    margin-left: 160px;
}

.search_icon{
    position: absolute;
    margin-left: 30px;
    margin-top: 45px;
}

.bell{
    position: absolute;
    margin-top: 45px;
    margin-left: 50px;
}

.full_card_text{
    width: 90%;
}

.collumn{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 130px;
}

.plus_full{
    margin-top: 93px;
    margin-left: 18px;
}